<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400&family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <script src="{% static 'js/login.js' %}" defer></script>
</head>  
<body>
    <div class="container">
      <div class="left-column">
        <div class="image-container">
          <img src="{% static 'images/login.jpg' %}" alt="Description of image" class="login-image">
        </div>
        <div class="title">
          <h1>Online Philadelphia Pointing Span Test (PPST)</h1>
        </div>
      </div>
      <div class="right-column">
        <div class="login-form">
          <h2>Get Started Now</h2>
          <form method="post">
            {% csrf_token %}
            <div class="txt_field">
              <input type="text" id="username" name="username" placeholder="" required>
              <span></span>
              <label>Username</label>
            </div>
            <div class="new-line"></div>
            <div class="txt_field">
              <input type="password" id="passwd" name="passwd" placeholder="" required>
              <span></span>
              <label>Password</label>
            </div>
            <div class="new-line"></div>
             <!-- Display error message if it exists -->
            {% if error_message %}
                <div class="error-message">{{ error_message }}</div>
                <div class="new-line"></div>
            {% endif %}
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  </html>
