<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="flex-item-right">
        <h1>Login</h1>
        <div class="login-container">
            <div class="new-line"></div>
            <form method="post">
                {% csrf_token %}
                <label for="uname">Username:</label>
                <input type="text" id="uname" name="uname" required>
                <div class="new-line"></div>
                <label for="passwd">Password:</label>
                <input type="password" id="passwd" name="passwd" required>
                <div class="new-line"></div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>