/* General Body Text Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #ffffff;
    color: #ffffff;
}

/* 1024 px Media */
@media screen and (max-width: 1024px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 18px;
        height: 100%;
    }

    .login-button {
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 18px;
        width: auto;
        text-align: center;
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 20px 20px;
    }
    
    #section2 {
        padding: 0 20px 20px;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 h1 {
        font-size: 0.5em;
        margin-bottom: 100px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        font-size: 20px;
        max-width: 450px;
    }

    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content {
        font-size: 16px;
    }


    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
    }

    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }

    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 250vh;
    }

    #section4 h1 {
        margin-top: -100px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* 912 px Media */
@media screen and (max-width: 912px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 18px;
        padding: 10px 20px;
    }

    .login-button {
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 18px;
        width: auto;
        text-align: center;
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 20px 20px;
    }
    
    #section2 {
        padding: 0 20px 20px;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 h1 {
        font-size: 0.5em;
        margin-bottom: 100px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        font-size: 20px;
        max-width: 450px;
    }

    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content {
        font-size: 16px;
    }


    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
    }

    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }


    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 200vh;
    }

    #section4 h1 {
        margin-top: -100px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* 853 Media */
@media screen and (max-width: 854px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 18px;
        padding: 10px 20px;
    }

    .login-button {
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 18px;
        width: auto;
        text-align: center;
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 20px 20px;
    }
    
    #section2 {
        padding: 0 20px 20px;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 h1 {
        font-size: 0.5em;
        margin-bottom: 100px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        font-size: 20px;
        max-width: 450px;
    }

    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content {
        font-size: 16px;
    }

    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
    }

    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }

    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 200vh;
    }

    #section4 h1 {
        margin-top: -100px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* 768 Media */
@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 18px;
        padding: 10px 20px;
    }

    .login-button {
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 18px;
        width: auto;
        text-align: center;
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 20px 20px;
    }
    
    #section2 {
        padding: 0 20px 20px;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 h1 {
        font-size: 0.5em;
        margin-bottom: 100px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        margin-left: px;
        font-size: 20px;
        max-width: 450px;
    }

    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content{
        font-size: 16px;
    }

    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
    }

    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }

    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 200vh;
    }

    #section4 h1 {
        margin-top: -100px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* 540 Media */
@media screen and (max-width: 540px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 15px;
        padding: 10px 20px;
    }

    .login-button {
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 15px;
        width: auto;
        height: 30px;
        text-align: center;
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 20px 20px;
    }
    
    #section2 {
        padding: 0 20px 20px;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 h1 {
        font-size: 0.5em;
        margin-bottom: 100px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        font-size: 20px;
        max-width: 400px;
    }

    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content {
        font-size: 16px;
    }

    .image-container {
        display: none;
    }

    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
    }

    #section3 p {
        text-align: center;
        font-size: 30px;
        max-width: 200px;
        
    }
    
    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }

    .services-image-container {
        display: none;
    }

    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 250vh;
    }

    #section4 h1 {
        margin-top: -100px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* 430 Media */
@media screen and (max-width: 430px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 15px;
        padding: 10px 20px;
    }

    .login-button  {
        margin-top: 20px;
        padding: 5px 10px;
        font-size: 10px;
        width: auto;
        text-align: center;
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 5px 20px;
        font-size: 0.85em;
    }
    
    #section2 {
        padding: 0 20px 20px;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 {
        font-size: 0.5em;
        margin-bottom: px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        font-size: 20px;
        max-width: 450px;
    }
    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content {
        font-size: 16px;
    }

    .image-container {
        display: none;
    }

    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
    }

    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }

    .services-image-container {
        display: none;
    }

    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 200vh;
    }

    #section4 h1 {
        margin-top: -100px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* 376 px Media */
@media screen and (max-width: 376px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 13px;
        padding: 10px 20px;
    }

    .login-button {
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 18px;
        width: auto;
        text-align: center;
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 20px 20px;
        font-size: 0.7em;
    }
    
    #section2 {
        padding: 0 20px 20px;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 h1 {
        font-size: 0.5em;
        margin-bottom: 100px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        font-size: 20px;
        max-width: 450px;
    }

    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content {
        font-size: 16px;
    }

    .image-container {
        display: none;
    }

    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
    }

    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }

    .services-image-container {
        display: none;
    }
    
    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 300vh;
    }

    #section4 h1 {
        margin-top: -200px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* 360 Media */
@media screen and (max-width: 360px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 12px;
        padding: 10px 20px;
    }

    .login-button {
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 18px;
        width: auto;
        text-align: center;
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 20px 20px;
    }
    
    #section2 {
        padding: 0 20px 20px;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 h1 {
        font-size: 0.5em;
        margin-bottom: 100px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        font-size: 20px;
        max-width: 450px;
    }


    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content {
        font-size: 16px;
    }

    .image-container {
        display: none;
    }

    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
    }

    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }

    .services-image-container {
        display: none;
    }

    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 250vh;
    }

    #section4 h1 {
        margin-top: 200px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* 344 Media */
@media screen and (max-width: 344px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 9vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 12px;
        padding: 5px 10px;
    }

    .login-button {
        margin-top: 5px;
        padding: 5px 10px;
        font-size: 12px;
        width: auto;
        text-align: center;
        margin-left: 10px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 20px 20px;
        font-size: 0.9em;
    }
    
    #section2 {
        padding: 0 20px 20px;
        font-size: 0.9em;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 h1 {
        font-size: 0.5em;
        margin-bottom: 100px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        font-size: 20px;
        max-width: 450px;
    }

    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content {
        font-size: 16px;
    }

    .image-container {
        display: none;
    }

    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
        font-size: 25px
    }


    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }

    .services-image-container {
        display: none;
    }

    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 200vh;
    }

    #section4 h1 {
        margin-top: -100px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* 320 Media */
@media screen and (max-width: 320px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 9vh;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        font-size: 12px;
        padding: 5px 10px;
    }

    .login-button {
        margin-top: 5px;
        padding: 5px 10px;
        font-size: 12px;
        width: auto;
        text-align: center;
        margin-left: 10px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }

    #section1 {
        padding: 0 20px 20px;
        font-size: 0.8em;
    }
    
    #section2 {
        padding: 0 20px 20px;
        font-size: 0.9em;
    }
    
    #section4 {
        padding: 0 20px 20px;
    }

    #section1 h1 {
        font-size: 0.5em;
        margin-bottom: 100px;
    }

    #section1 h2 {
        font-size: 0.5em;
    }

    #section1 p {
        font-size: 12px;
        max-width: 450px;
    }

    /* Styles for Section 2 */
    #section2 h1 {
        text-align: center;
        margin-top: -100px;
    }

    #section2 p {
        text-align: center;
        font-size: 20px;
        max-width: 450px;
    }

    .about-section {
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .content {
        font-size: 16px;
    }

    .image-container {
        display: none;
    }

    /* Styles for Section 3 */
    #section3 h1 {
        text-align: center;
        align-items: center;
        margin-top: -100px;
        margin-right: 0;
        padding-left: 190px;
        font-size: 25px
    }


    .services-section {
        align-items: center;
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .services-content {
        font-size: 16px;
        text-align: center;
    }

    .services-image-container {
        display: none;
    }

    .sign-up-button {
        margin-left: 190px;
    }

    /* Styles for Section 4 */
    #section4 {
        height: 200vh;
    }

    #section4 h1 {
        margin-top: -100px;
    }

    .benefits {
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}

/* Basic navbar styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top 0.3s;
    transition: transform 0.3s ease-in-out;
}

nav.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    body {
        align-items: center;
        margin-top: 60px;
    }
}

/* Navigation Links Styles */
nav .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

/* Navigation Bar Margins */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Navigation Links Margins */
nav ul li {
    margin: 20px;
}

/* Navigation Links Colors */
nav ul li a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}

/* Navigation Links Hover Colors */
nav ul li a:hover {
    text-decoration: underline;
    color: #126cc7;
}

/* Login Button Styles */
.login-button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Sign-up Button Styles */
.sign-up-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sign-up-button:hover {
    background-color: #004075;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}

/* Section Styles */
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    position: relative;
    overflow: hidden;
}

/* Styles for Section 1 */
#section1 {
    background: linear-gradient(to bottom, #8CB8D9, #3B7CBA, #0077B3, #0056A0, #004B8D);
}

#section1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin: 0;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#section1 h2 {
    text-align: center;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.3);
    margin: 0.5em 0;
}

#section1 p {
    font-size: 1.5em;
    max-width: 900px;
    z-index: 1;
}

/* Styles for Other Sections */
#section2,
#section3,
#section4 {
    background: linear-gradient(to bottom, #8CB8D9, #3B7CBA, #0077B3, #0056A0, #004B8D);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/* Styles for Section 2 */
.about-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

.content {
    flex: 1;
    text-align: left;
    margin-top: 150px;
    margin-right: 1px;
    margin-left: 10px;
}

.image-container {
    margin-top: 150px;
    margin-right: 50px;
    flex-shrink: 0;
}

.about-image {
    width: 420px;
    height: 410px;
    border-radius: 30%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* 1024 px Media */
@media screen and (max-width: 1024px) {
    .about-image {
        width: 420px;
        height: 410px;
        border-radius: 30%;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
}

/* 912 Media */
@media screen and (max-width: 912px) {
    .about-image {
        width: 320px;
        height: 310px;
        border-radius: 30%;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
}    

/* 853 Media */
@media screen and (max-width: 854px) {
    .about-image {
        width: 300px;
        height: 290px;
        border-radius: 30%;
        object-fit: cover;
        margin-left: 25px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    }
}    

/* 768 Media */
@media screen and (max-width: 768px) {
    .about-image {
        width: 270px;
        height: 260px;
        border-radius: 30%;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
}    

/* Styles for Section 3 */
.services-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

.services-content {
    flex: 2;
    text-align: left;
    margin-top: 150px;
    margin-right: 200px;
    margin-left: 10px;
}

.services-image-container {
    margin-top: 200px;
    margin-right: 50px;
    flex-shrink: 0;
}

.services-image {
    width: 430px;
    height: 400px;
    border-radius: 30%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* 1024 px Media */
@media screen and (max-width: 1024px) {
    .services-image {
        width: 430px;
        height: 400px;
        border-radius: 30%;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .services-image-container {
        margin-top: 20px;
        margin-right: 50px;
        flex-shrink: 0;
    }
}

/* 912 Media */
@media screen and (max-width: 912px) {
    .services-image {
        width: 320px;
        height: 310px;
        border-radius: 30%;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .services-image-container {
        margin-top: 20px;
        margin-right: 50px;
        flex-shrink: 0;
    }
}

/* 854 Media */
@media screen and (max-width: 854px) {
    .services-image {
        width: 300px;
        height: 290px;
        border-radius: 30%;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
}

/* 768 Media */
@media screen and (max-width: 768px) {
    .services-image {
        width: 250px;
        height: 240px;
        border-radius: 30%;
        object-fit: cover;
        margin-right: 50px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
}

/* Styles for Section 4 */
#section4 h2 {
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.5);
    margin: 0.02em 0;
}

#section4 h3 {
    color: #0056A0;
    font-size: 1.2em;
}

#section4 p {
    color: #003366;
    font-size: 1.2em;
}

.benefits {
    display: flex;
    margin-top: 20px;
}

.benefit {
    background: #E6F7FF;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 330px;
    text-align: center;
    padding: 15px;
    margin: 20px;
}

.benefit-image {
    width: 80px;
    height: auto;
    margin-bottom: 1px;
}

/* Additional Text Styles */
h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h4 {
    color: #0077B3;
    margin: 10px 0;
}

p {
    font-size: 1.4em;
    max-width: 900px;
}

#section3 p {
    text-align: left;
    max-width: 90%;
    font-size: 24px;
    display: block;
}

@media screen and (max-width: 1180px) {
    #section3 p {
        max-width: none;
    }

    .sign-up-button {
        margin-top: 0;
    }
}

@media screen and (max-width: 1024px) {
    #section3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 20px;
    }

    #section3 p {
        text-align: center;
        font-size: 18px;
        width: 100%;
        max-width: 100%;
        padding-left: 90px;
        padding-right: 0;
    }

    .sign-up-button {
        text-align: center;
    }

    #section4 {
        height: 300vh;
    }
}

@media screen and (max-width: 932px) {
    .image-container {
        margin-right: -5px;
    }
    
    #section4 {
        height: 400vh;
    }
}

@media screen and (max-width: 912px) {
    #section4 {
        height: 150vh;
    }
}

@media screen and (max-width: 896px) {
    #section4 {
        height: 400vh;
    }
}

@media screen and (max-width: 883px) {
    #section1 {
        height: 150vh;
    }
    
    #section4 {
        height: 500vh;
    }
}

@media screen and (max-width: 854px) {
    #section1 {
        height: 60vh;
    }

    #section4 {
        height: 150vh;
    }
}

@media screen and (max-width: 844px) {
    #section4 {
        height: 450vh;
    }
}

@media screen and (max-width: 820px) {
    #section4 {
        height: 150vh;
    }
}

@media screen and (max-width: 768px) {
    #section1 {
        height: 60vh;
    }

    #section4 {
        height: 180vh;
    }
}

@media screen and (max-width: 740px) {
    #section1 {
        height: 150vh;
    }
}

@media screen and (max-width: 720px) {
    #section4 {
        height: 300vh;
    }
}

@media screen and (max-width: 668px) {
    #section1 h1 {
        margin-top: 50px;
    }
    
    #section1 p {
        font-size: 1.0em;
    }

    #section3 p {
        font-size: 15px;
        padding-left: 140px;
    }

    #section3 h1 {
        padding-left: 260px;
    }

    .sign-up-button {
        padding: 10px 5px;
        margin-left: 260px;
    }

    .services-image {
        width: 180px;
        height: 180px;
    }

    .services-image-container {
        margin-right: 90px;
    }

    #section4 {
        height: 475vh;
    }
}

@media screen and (max-width: 540px) {
    #section2 p {
        padding-left: 40px;
    }

    #section3 h1 {
        padding-left: 200px;
    }

    #section3 p {
        padding-left: 100px;
    }

    .sign-up-button {
        margin-left: 185px;
    }

    #section4 {
        height: 250vh;
    }
}

/* Bugfix for navbar on iPhone 14 Pro Max */
@media screen and (max-width: 431px) {
    nav {
        flex-wrap: wrap;
        height: 15vh;
        justify-content: center;
        align-items: center;
    }
    
    .login-button {
        margin-top: px;
        padding: 5px 10px;
        font-size: 10px;
        width: auto;
        text-align: center;
        margin-left: 20px;
        flex-direction: column;
        display: flex;
    }
    #section1  {
        height: 60vh;
    }
    #section1 h1 {
        margin-top: 50px;
        font-size: 30px;
    }
    #section1 h2 {
        font-size: 20px;
    }
    #section1 p {
        margin-bottom: 50px;
        font-size: 15px;
    }
}

@media screen and (max-width: 412px) {
    #section1 {
        height: 60vh;
    }
    
    .services-content {
        margin-right: 280px;
    }

    #section2 p {
        padding-left: 0;
    }

    #section3 h1 {
        padding-left: 265px;
    }

    #section3 p {
        font-size: 15px;
        width: 90%;
        padding-left: 155px;
    }

    .sign-up-button {
        margin-left: 255px;
    }

    #section4 {
        height: 200vh;
    }
}

@media screen and (max-width: 360px) {
    #section3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 20px;
    }

    #section3 p {
        text-align: center;
        font-size: 20px;
        width: 250px;
        padding-left: 190px;
    }

    .sign-up-button {
        text-align: center;
    }
}

@media screen and (max-width: 344px) {
    nav {
        height: 10vh;
    }

    #section1 {
        height: 100vh;
    }

    #section2 p {
        padding-left: 0;
    }

    .services-content {
        margin-right: 200px;
    }
}

/* Footer Styles */
footer {
    text-align: left;
    padding: 20px 15px;
    background-color: #064482;
    color: white;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
